.footer .logo {
    color: #F4F4FD;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-text  {
    color: #F4F4FD;
    width: 264px;
}
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}