.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title{
    margin-bottom: 72px;
}
.portfolio-text-wrapper{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}
.portfolio-cart-title{
    margin-bottom: 8px;
}